/* Classes */
/* ALIGN */
.alignic {
    align-items: center;
}
/* BORDER */
.b1 {
    border:1px;
}
.bs{
    border: solid;
}
/* COLOR */
.colorgreendark {
    color: rgb(21, 87, 21);
}
.colorgreenmed {
    color: forestgreen;
}
.colorgreenlight {
    color: rgb(51, 202, 51);
}
.colorblack {
    color: black
}
.colorgraylight {
    color: gainsboro
}
.colorgraymed {
    color: gray
}
.colorgraydark {
    color: rgb(78, 78, 78)
}



/* DISPLAY */
.flex {
    display:flex;
}

/* JUSTIFY */
.justifycsb {
    justify-content: space-between;
}
.justifycc {
    justify-content: center;
}
.justifycs {
    justify-content: start;
}
.justifycsa {
    justify-content: space-around;
}
.justifycse {
    justify-content: space-evenly;
}

/* LIST */
.listsn {
    list-style:none;
}
/* MARGIN */
.m {
    margin: 24px;
}
/* PADDING */
.p {
    padding: 24px;
}
.p- {
    padding: 12px;
}
.p-- {
    padding: 6px;
}
.p+ {
    padding: 48px;
}


/* TEXT */
.textdecn {
    text-decoration: none;
}



.portfolio-textbody {
    
}
.portfolio-image {
    height: 25%;
    width: 15%;
}