
/* Resets */
a {
    color: forestgreen;
    text-decoration: none;
}
ul {
    margin:0;
}





/* Classes */
.bodystyle {
    border: 1px black solid;
    margin: 24px;
    padding: 24px;

}
.headerstyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display:flex;
    list-style: none;
    
}