@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

:root {
	font-size: 10px;
	--heading-height: 30em; /* Variable for Header height */
}

body {
	font-family: "Ubuntu", Arial, sans-serif;
	min-height: 100vh;
	background-color: #101010;
}

.column {
	flex-flow: column;
}

.head {
	position: fixed;
	width: 100%;
	content: "";
	left: 0;
	/* SHIFTS ENTIRE HEADER including text */
	top: -45%;

	/* SHIFTS HEADER IMAGE ONLY*/
	height: 63vh;

	z-index: 1;
	transform: skewY(-3deg);
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../images/eclipse2.jpg")
		no-repeat center,
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: 0.2em solid #fff;
}

.navorg {
	/* Header Text */
	z-index: 2;
	transform: skewY(3deg);
	
	/* SHIFTS HEADER TEXT ONLY */
	padding: 50vh 0 0 4.5rem; 
	align-items: start;
	font-size: calc(1.4em + 1.3vw);
	justify-content: space-between;
}

.myname {
	font-size: calc(1em + 0.65vw);
	font-weight: 250;
	letter-spacing: 0.01em;
	text-shadow: 0.022em 0.022em 0.022em #111;
	color: #fff;
}
.nav {
	/* navigation text */
	color: #fff;
	font-size: calc(0.35em + 0.325vw);
}
.navsizing {
	/* text-align:center; */
	width:calc(17rem + 1vw);
	/* width:45%; */
	height:calc(2rem + 0.5vw);
	padding-left:calc(1rem + 1vw);
	padding-right:calc(1rem + 1vw);
}

/* **************************** NAME HOVER EFFECT **************************** */
.myname {
	/* add multi-browser support? */
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 20%, #000 50%, rgba(0,0,0,.6) 80%);
	-webkit-mask-size: 200%;
	animation: shine 1.5s infinite;
}
/* .myname:hover {  } */
@-webkit-keyframes shine {
	from {
		/* add multi-browser support? */
	  -webkit-mask-position: 150%;
	}
	to {
		/* add multi-browser support? */
	  -webkit-mask-position: -50%;
	}
}

/* **************************** NAV HOVER EFFECTS **************************** */
.aboutme:hover {
	/* navigation text */
	font-size: calc(0.6em + 0.6vw);
	transition: 0.3s;
	/* add multi-browser support? */
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 20%, #000 50%, rgba(0,0,0,.6) 80%);
	-webkit-mask-size: 200%;
	animation: shine 1.5s infinite;
}
.aboutme {
	/* Hover OFF */
	transition: 0.3s;
}

.portfolio:hover {
	/* navigation text */
	font-size: calc(0.6em + 0.6vw);
	transition: 0.3s;
	/* add multi-browser support? */
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 20%, #000 50%, rgba(0,0,0,.6) 80%);
	-webkit-mask-size: 200%;
	animation: shine 1.5s infinite;
}
.portfolio {
	/* Hover OFF */
	transition: 0.3s;
}


.contact:hover {
	/* navigation text */
	font-size: calc(0.6em + 0.6vw);
	transition: 0.3s;
	/* add multi-browser support? */
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 20%, #000 50%, rgba(0,0,0,.6) 80%);
	-webkit-mask-size: 200%;
	animation: shine 1.5s infinite;
}
.contact {
	/* Hover OFF */
	transition: 0.3s;
}


/* BODY IMAGE */
.pureintext {
	float: left;
	width: 40%;
	margin: 2rem;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 173, 0.233);
	border-style: double;
}




.pureouttext {
	width: 60%;
	/* height: 100%; */
	margin: 3rem;
	border-style: double;
	border-color: black;
	transition: 0.6s;
	
}
/***                 Body Image                   ***/
.pureouttext:hover {
		
		box-shadow: 
		1rem 1rem 1rem rgba(228, 228, 228, 0.1),
		-1rem -1rem 1rem rgba(228, 228, 228, 0.1),
		1rem -1rem 1rem rgba(228, 228, 228, 0.1),
		-1rem 1rem 1rem rgba(228, 228, 228, 0.1);
		transition: 0.6s;
}


/* BORDER */
.bd1 {
    border:1px;
}
.borderplain {
	border-style:solid;
	border-color:gray;
}


/* ALIGN */
.aic {
    align-items: center;
}
.ais {
    align-items: start;
}

/* JUSTIFY */
.jcsb {
    justify-content: space-between;
}
.jcc {
    justify-content: center;
}
.jcs {
    justify-content: start;
}
.jcsa {
    justify-content: space-around;
}
.jcse {
    justify-content: space-evenly;
}

/* MARGINs */
.m {
    margin: 1rem;
}
.mplus {
    margin: 1.66rem;
}
.m- {
    margin: .809rem;
}
.ml {
    margin-left: 1rem;
}
.mlplus {
    margin-left: 1.66rem;
}
.ml- {
    margin-left: .809rem;
}
.mr {
    margin-right: 1rem;
}
.mrplus {
    margin-right: 1.66rem;
}
.mr- {
    margin-right: .809rem;
}
.mt {
    margin-top: 1rem;
}
.mtplus {
    margin-top: 1.66rem;
}
.mt2plus {
    margin-top: 3.32rem;
}
.mt- {
    margin-top: .809rem;
}
.mb {
    margin-bottom: 1rem;
}
.mbplus {
    margin-bottom: 1.66rem;
}
.mb- {
    margin-bottom: .809rem;
}
.w1\/1 {
	width:100%;
}

.w {
	width:1rem;
}
.w2 {
	width:2rem;
}
.w3 {
	width:3rem;
}
.h1\/1 {
	height:100%;
}
.h {
	height:1rem;
}
.h2 {
	height:2rem;
}
.h3 {
	height:3rem;
}

/* PADDING */
.p {
    padding: 1rem;
}
.p- {
    padding: .809rem;
}
.p-- {
    padding: .404rem;
}
.pplus {
    padding: 1.66rem;
}
.pl {
    padding-left: 1rem;
}
.plplus {
    padding-left: 1.66rem;
}
.pl- {
    padding-left: .809rem;
}
.pr {
    padding-right: 1rem;
}
.prplus {
    padding-right: 1.66rem;
}
.pr- {
    padding-right: .809rem;
}
.pt {
    padding-top: 1rem;
}
.ptplus {
    padding-top: 1.66rem;
}
.pt2plus {
    padding-top: 3.32rem;
}
.pt- {
    padding-top: .809rem;
}
.pb {
    padding-bottom: 1rem;
}
.pbplus {
    padding-bottom: 1.66rem;
}
.pb- {
    padding-bottom: .809rem;
}

/* White text shortcut */
.cwhite {
	color:white;
}

/* flexbox shortcut classes */
.flex {
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}

/* Text body padding */
.body-main {
	padding: 25vh 3vw 0;
}

/* body text overwrites */
.paragraph {
	font-size: calc(2em + 0.25vw);
	font-weight: 400;
	line-height: 2;
	padding-left: 2em;
	margin-bottom: 1.5em;
	color: #fcfcfc;
}

/* TEXT */
.tdn {
    text-decoration: none;
}
.taj {
    text-align: justify;
}


.relative {
	position: relative;
}
.bgcolorblack {
	background-color:#101010;
}
.botmargin {
  	margin-bottom: 15rem;
}
.footcontainer2 {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 15rem;
	width:100%;
	background: #222;
	border-bottom: 1px solid #666;
	font-size: calc(1.4em + 1.3vw);
	font-weight: 350;
	letter-spacing: 0.01em;
	text-shadow: 0.022em 0.022em 0.022em #111;
	color: #fff;
	font: 1rem;
	justify-content:center;
	align-items:center;
  	z-index:-1;
}


/* shine */
.shine:hover {
	/* add multi-browser support? */
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
	from {
		/* add multi-browser support? */
	  -webkit-mask-position: 150%;
	}
	
	to {
		/* add multi-browser support? */
	  -webkit-mask-position: -50%;
	}
  }


/**                 Footer Color Slide                   **/
.bar-anchor{
	padding: 2rem 3rem; /* adjusts sizing of colored bar */
	margin:1rem 0.5rem; /* adjust spacing around object + bar */
		font-family: sans-serif; 
		text-transform: uppercase;
		text-align: center;
	position: relative; /* attaches animated border to object */
		text-decoration: none;
	display:inline-block;
	 overflow:hidden;
  /*    border:1px solid #6098FF; */
  }
  .bar-anchor span{
	background:#00002E;
	width:100%;
	position:relative;
	padding:1rem 3rem;
	/* multi-browser support */
	 -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  /*   border:1px solid #6098FF;  */
  }
  .transition-bar{
	  position: absolute;
	  top: 0;
	  left: 0%;
	  width: 0;
	  height: 100%;
	  /* background: #80ffd3; */
	  background: #ffffff;
	  z-index:-1;
  /*     -ms-transform: skewX(-20deg); 
	  -webkit-transform: skewX(-20deg); 
	  transform: skewX(-20deg); */
  }
  .bar-anchor:hover span{
	/* color: #80ffd3!important; */
	color: #ffffff!important;
  }
  .bar-anchor:hover .transition-bar{
	width:150%;
	left:125%;
	/* multi-browser support */
	-moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  }

  



/****                 Portfolio.html Specific                   ****/

/* Portfolio Item Width */
.wp {
	width:30%;
}

.portfolioitem {
	position: relative;
	border-style: double;
	border-color: black;
	margin: 1rem;
	width: 30%;
	transition: 0.6s;
}
.portfolioitem:hover {
	border-color: gray;
	box-shadow: 
	1rem 1rem 1rem rgba(228, 228, 228, 0.1),
	-1rem -1rem 1rem rgba(228, 228, 228, 0.1),
	1rem -1rem 1rem rgba(228, 228, 228, 0.1),
	-1rem 1rem 1rem rgba(228, 228, 228, 0.1);
	transition: 0.6s;
}

.portfolioitemtextcontainer {
	position: absolute;
	top: 85%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: black;
	border: double gray;
	height: 10%;
}
.portfolioitemtext {
	position: absolute;
	padding: 1rem;
	font-size: 1vw;
	color:white;

}
.portfolioitemimage {
	width: 100%;
}


/************************** Contact Page Specific CSS **************************/

.footcontainer3 {
	left: 0;
	right: 0;
	bottom: 0;
	height: 15rem;
	width:100%;
	background: #222;
	border-bottom: 1px solid #666;
	font-size: calc(1.4em + 1.3vw);
	font-weight: 350;
	letter-spacing: 0.01em;
	text-shadow: 0.022em 0.022em 0.022em #111;
	color: #fff;
	font: 1rem;
	justify-content:center;
	align-items:center;
}


.transition-bar2{
	position: absolute;
	top: 0;
	left: 0%;
	width: 0;
	height: 100%;
	background: #ffffff;
}
.bar-anchor:hover .transition-bar2{
  width:150%;
  left:125%;
  /* multi-browser support */
  -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

/************************** Contact Form **************************/

.wrapper {
	margin: 5rem auto 0;
	width: 70%;
	max-width: 90vw;
	display: flex;
	justify-content: center;
  }
  
  form {
	width: 100%;
	margin: 1rem;
  }
  
  form * {
	font-size: 2rem;
	letter-spacing: 0.075em;
	font-weight: 300;
	cursor: pointer;
	text-decoration: none;
  }
  
  form .field {
	width: 100%;
	position: relative;
	margin-bottom: 2rem;
  }
  
  form .field label {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, #112569, #09691e);
	width: 100%;
	height: 6rem;
	transition: 333ms ease-in-out;
	text-align: center;
	padding: 2rem 0;
  }
  
  form .field input[type="text"],
  form .field textarea {
	border: none;
	width: 100%;
	height: 6rem;
	margin: 0;
	padding-left: 19.5%;
	color: #313a3d;
  }
  
  form #msg {
	height: 6rem;
	resize: none;
	transition: all 333ms ease-in-out;
	padding-top: 1rem;
  }
  form textarea:focus#msg,
  form textarea:not(:placeholder-shown)#msg {
	height: 10rem;
  }
  form input[type="text"]:focus + label,
  form input[type="text"]:not(:placeholder-shown) + label,
  form textarea:focus + label,
  form textarea:not(:placeholder-shown) + label,
  form .field:hover label {
	width: 18%;
  }
  form input[type="submit"] {
	background: linear-gradient(90deg, #112569, #09691e);
	-webkit-appearance: none;
	border: none;
	position: relative;
	padding: 1rem 3.5rem;
	transition: all 0.3s ease-in-out;
  }
  form input[type="submit"]:hover,
  form input[type="submit"]:focus {
	background: #ffffff; 
  }




/************************** Responsive Design Adjustments **************************/
/* INCOMPLETE */
/* @media screen and (max-width: 768px) { }*/
/* @media screen and (max-width: 480px) { }*/
/* Convert sizing to utilize vw and vh wherever possible */
/* Index Body Text spacing/sizing */
/* Portfolio Image spacing proportions */
/* Completely redesign header? */
